{% extends 'base.html' %}
{% block title %} New user {% endblock %}

{% block content %}
    <div>
        {% if user.image_url %}
        <img src="{{ user.image_url }}" alt="{{ user.first_name}} {{user.last_name}}">
        {% endif %}
    </div>
    <div>
        <h1>{{ user.first_name }} {{ user.last_name }} </h1>
        <form>
            <button formaction="/users/{{ user.id }}/edit"
              formmethod="GET" class="edit"> Edit
            </button>
            <button formaction="/users/{{ user.id }}/delete"
              formmethod="POST" class="delete"> Delete
            </button>
        </form>

        <h2>Posts </h2>
        <ul>
          {% for post in posts %}
            <li>
              <a href="/posts/{{post_id}}"> {{post.title}}</a>
              <small>{{post.friendly_date}}</small>
            </li>
          {% endfor %}
        </ul>

        <p>
          <button class="success"><a href="/users/{{user.id}}/posts/new "> Add Post</a></button>
        </p>
    </div>

{% endblock %}